.room {
  padding: 16px 0;

  &__slider {
    margin-bottom: 40px;
  }

  &__main {
    margin-bottom: 40px;
  }

  @include media-min ($lg) {
    padding-top: 40px;

    &__grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
      row-gap: 40px;
      align-items: start
    }

    &__slider {
      grid-column: span 6;
      margin-bottom: 0;
    }

    &__main {
      grid-column: span 6;
      margin-bottom: 0;
    }

    &__description {
      grid-column: span 10;
    }
  }

  @include media-min ($xl) {
    &__slider {
      grid-column: span 7;
    }

    &__main {
      grid-column: span 5;
    }
  }

}
