.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-min ($md) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;

    &__item:nth-child(10n+1),
    &__item:nth-child(10n+8) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}
