.add-children {
  display: grid;
  row-gap: 16px;

  &__list {
    display: grid;
    gap: 4px;
  }

  &__btn {
    padding: 10px;
    justify-self: start;
  }

  &__btn-icon {
    margin-right: 8px;
  }

  @include media-min ($md) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
