.search-room {
  padding: 16px;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  transition: box-shadow .15s ease-in-out;

  &__wrapper {
    display: grid;
    row-gap: 8px;
  }

  &__hotel {
    margin-bottom: 8px;
  }

  &__category {
    margin-bottom: 8px;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
  }

  &:hover {
    border-color: transparent;
    box-shadow: 0 0 15px 3px var(--black20);
  }

  @include media-min ($sm) {
    &__wrapper {
      justify-items: start;
    }
  }

  @include media-min ($md) {
    &__wrapper {
      grid-template-columns: 1fr auto;
    }

    &__price {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: start;
    }

    &__btn {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: end;
      justify-self: end;
    }
  }
}
