.breadcrumbs {
  padding: 12px 0;
  color: var(--light-gray);

  & a,
  & span {
    color: currentColor;
    text-decoration: none;
  }

  & a {
    &:hover {
      text-decoration: underline;
    }
  }

  & .current-item {
    color: var(--accent);
  }
}
