.checkall-btn {
  position: relative;
  padding-right: 35px;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translate(-13px, -50%);
    width: 15px;
    height: 15px;
    background-color: var(--light-gray);
    border-radius: 50%;
    transition: background-color .3s ease-in-out, transform .2s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 18px;
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 99em;
  }

  &--toggled {
    &::before {
      transform: translate(-2px, -50%);
      background-color: var(--green);
    }
  }
}
