// COLORS
:root {
  --red: #e30613;
  --red-hov: #e93541;
  --red-act: #c41521;
  --yellow: #ffc600;
  --yellow-hov: #ffd438;
  --yellow-act: #ecb900;
  --green: #14884B;
  --green-hov: #309b62;
  --green-act: #166b3e;
  --gray: #333333;
  --light-gray: #bbbbbb;
  --white: #FFFFFF;
  --white70: rgba(255, 255, 255, 0.7);
  --white50: rgba(255, 255, 255, 0.5);
  --black: #040F0F;
  --black70: rgba(0, 0, 0, 0.7);
  --black50: rgba(0, 0, 0, 0.5);
  --black20: rgba(0, 0, 0, 0.2);
}

//BREAKPOINTS FOR MOBILE FIRST
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts
$main-font: "Montserrat";
$alt-font: "Roboto Slab";
